[Unit]
Description=celery worker for School Management System
After=network.target

[Service]
User=devops
Group=devops
WorkingDirectory=/home/personal/personalweb/epk/backend
Environment="DJANGO_SETTINGS_MODULE=core.settings_production"
EnvironmentFile=/home/personal/personalweb/epk/.env
ExecStart=/home/personal/personalweb/epk/venv/bin/celery -A core worker -l info
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target